.yellow_bg {
  background: #0700ff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}

.loader_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 165px;
}

.center {
  text-align: center;
}

.menu-active {
  background: #79beff !important;
  border-radius: 0 50px 50px 0 !important;
}

.menu-btn:hover {
  background: #f0f0f0 !important;
  border-radius: 0 50px 50px 0 !important;
}

.unauth-container {
  background: #ffffff;
}

.white {
  background: #ffffff;
}
